<div class="container">
  <div class="row mt-5">
    <div class="col-md ">
      <div class="card mb-5 shadow border-0">
        <div class="card-header ">
          <h5 class="text-dark
           text-center">Your Cart</h5>
        </div>
        <div class="card-body">
          <app-cart></app-cart>
        </div>
      </div>
      <div class="col-md-6 mx-auto text-danger text-center">
        <div class="note">
          <p>This is a student project so it is for learning only, not a real ecommerce page</p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="noUserForm" *ngIf="!isUser">
        <div class="card mb-5 shadow border-0">
          <div class="card-header ">
            <h5 class="text-dark
             text-center">We Need Some Data</h5>
          </div>
          <div class="card-body">
            <p>A fake name and email will be valid</p>
            <app-no-user-form ></app-no-user-form>
          </div>
        </div>
      </div>
      <div class="card shadow border-0">
        <div class="card-header ">
          <h5 class="text-dark text-center">
            Fake Payment
          </h5>
        </div>
        <div class="card-body">
          <p >You can use this card number to test the app <span>4242 4242 4242 4242</span></p>
          <p>Any valid expiration date and any value for the rest of the data</p>
          <app-card-payment [isUser]="isUser"></app-card-payment>
        </div>
      </div>
    </div>
  </div>
</div>

