/* You can add global styles to this file, and also import other style files */

.container {
  min-height: 600px;
}

.card, .form-control, .btn {
  border-radius: 0;
}


.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.globalMsgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.globalMsg {
  position: absolute;
  width: 100%;
  height: 60px;
}
